body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f9;
    color: #333;
}

.container {
    max-width: 600px;
    width: 90%;
    margin-top: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

header button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

header button:hover {
    background-color: #0056b3;
}

header h1 {
    margin: 0;
}

main ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

main ul li {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
}

main ul li:last-child {
    border-bottom: none;
}

/* Estilos de la lista de horas */
#hour-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#hour-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
}

.hour {
    flex: 0 0 100px; /* Ancho fijo para las horas */
    text-align: left;
}

.textarea-container {
    flex: 1; /* Ocupa el espacio restante */
    padding-left: 10px;
}

.textarea-container textarea {
    width: 100%;
    height: 30px;
    resize: none;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
}
textarea:disabled {
    background-color: #f0f0f0;
    color: #888;
    cursor: not-allowed;
}

.welcome-title {
    text-align: center;
    font-size: 1.5rem;
    color: #4CAF50; /* Un color amigable, como verde */
    margin: 20px 0;
    font-family: 'Arial', sans-serif;
}

.save-button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.save-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}


